.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  // padding: 20px;
  position: relative;
  z-index: 1;
  background: #000;
  // background: linear-gradient(92.7deg, #4cb8c4 0%, #3cd3ad 100%), #232323;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
