* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../src/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}
// body {
//   background: #000;
// }
.chess_app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: relative;
  margin: 0 auto;
  @media (min-width:1400px) {
    transform: scale(1.5);
  }
  @media (max-width: 500px) {
    padding: 25px;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
.board {
  width: calc(69px * 8);
  height: calc(69px * 8);
  display: flex;
  flex-wrap: wrap;
  border: 20px solid #eed4ac;
  position: relative;
  border-radius: 8px;
  @media (max-width: 500px) {
    width: calc(50px * 8);
    height: calc(50px * 8);
    margin: 0 auto;
  }
}
.cell_index {
  position: absolute;
  top: -20px;
  display: flex;
  > div {
    height: 20px;
  }
}
.cell_index_y {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  left: -20px;
  > div {
    width: 20px;
  }
}
.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 500px) {
    width: 45px;
    height: 45px;
  }
}
.cell img {
  width: 48px;
  height: 48px;
  position: relative;
  @media (max-width: 500px) {
    width: 24px;
    height: 24px;
  }
}
.black {
  // background-color: rgba(35, 36, 45, 0.475);
  // background-color: #227bd5;
  background-color: #3e2b04;
}
.white {
  background-color: #d0ae7b;
}
.selected {
  background-color: brown;
}
.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(8, 84, 8);
}
.lost {
  height: calc(30vh - 60px);
  width: 180px;
  max-width: 180px;
  padding: 30px;
  // margin-left: 50px;
  color: #3e2b04;
  font-family: "SpaceGrotesk";
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 12px;
  background: #eed4ac;
  box-shadow: inset -7px -7px 14px 3px rgba(62, 43, 4, 0.5411764706);
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  h3 {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .lost {
    height: 50px;
    width: calc(100vw - 25px);
    max-width: calc(100vw - 25px);
    margin: 10px auto;
  }
  div {
    width: 100%;
  }
}
.fig {
  display: flex;
  padding: 0 10px;
  >div {
    margin-left: -16px;
  }
}
.timer {
  // color: #fff;
  color: #3e2b04;
  font-family: "SpaceGrotesk";
  font-size: 20px;
  padding: 5px;
  width: 180px;
  box-sizing: border-box;
  border-radius: 12px;
  background: #eed4ac;
  box-shadow: inset -7px -7px 14px 3px rgba(62, 43, 4, 0.5411764706);
  @media (max-width: 500px) {
    font-size: 12px;
  }
}

button {
  border-radius: 12px;
  border: 1px solid #3e2b04;
  padding: 5px;
  box-sizing: border-box;
  font-family: "SpaceGrotesk";
  color: #3e2b04;
  font-weight: 700;
  font-size: 18px;
  background: #d0ae7b;
  box-shadow: inset 0px -1px 5px 1px #3e2b048a;
  transition: all 0.5s;
  &:hover {
    box-shadow: inset 0px -1px 5px 1px #d0ae7b;
    background: #3e2b04;
    border: 1px solid #d0ae7b;

    color: #d0ae7b;
  }
}
.player {
  font-family: "SpaceGrotesk";
  color: #d0ae7b;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 20px;
  span {
    font-weight: 700;
    font-size: 24px;
  // color: #d0ae7b;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(358deg, #f6efe2 20%, #d0ae7b 70%);;
  -webkit-background-clip: text;
  }
}
@media (max-width: 500px) {
  body {
    // -webkit-transform: rotate(-90deg);
    // -moz-transform: rotate(-90deg);
    // filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
  .timer {
    font-size: 12px;
  }
}

@media (max-width: 932px) and (orientation: landscape) {
  .timer {
    font-size: 12px;
  }
  .app {
    gap: 20px;
  }
  .board {
    width: calc(35px * 8);
    height: calc(35px * 8);
  }
  .cell {
    width: 35px;
    height: 35px;
    img {
      width: 24px;
      height: 24px;
    }
  }
  .fig {
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 2px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: linear-gradient(to bottom right, #3e2b04 0%, #ead1a9 100%);
      border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
      background: #080500;
      border-radius: 5px;
    }
  }
}
