* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #b5edf0;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../src/assets/fonts/FlexySans.woff2");
}
@font-face {
  font-family: "Montserrat";
  src: url("../src/assets/fonts/Montserrat-VariableFont_wght.ttf");
}
body {
  background: #000000;
}
.container {
  // max-width: 1200px;
  // margin: 0 auto;
  // padding: 20px 70px;
  // background: #000000ad;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px 70px;

  position: relative;
  z-index: 1;
}
.bg {
    background: rgb(0 0 0 / 86%);
}
.white {
  background: #fff;
}
.app {
}
section {
  margin-bottom: 35px;
}